.modal {
  &__container {
    position: fixed;
    height: 100vh;
    z-index: 20;
  }
  &__box {
    position: absolute;
    background-color: #ddd;
    @include glassMorphism-without-width;
    width: 40vw;
    top: 35rem;
    right: -115rem;
    padding: 2rem;
    z-index: 111;
    text-align: center;
    background: #3d84b8;
    box-shadow: 0 0 0.5rem #3d84b8, 0 0 1.5rem #3d84b8, 0 0 3rem #3d84b8,
      0 0 6rem #3d84b8;
    border-radius: 0.5rem;
    & > * {
      margin-bottom: 1.5rem;
    }
    h1 {
      font-size: 3rem;
      font-family: "Abril Fatface", cursive;
    }
    button {
      padding: 1rem 2.5rem;
      border-radius: 0.5rem;
      color: inherit;
      border: #ddd;
      @include glassMorphism-without-width;
    }
  }
}
