.project {
  &__container {
    width: 90%;
    display: grid;
    grid-template-columns: 70% 30%;
    @include glassMorphism-without-width;
    margin: 0 auto;
    padding: 2rem;
    grid-gap: 2rem;

    &-left {
      img {
        border-radius: 8px;
      }
    }
    &-right {
      font-size: 1.5rem;
      padding: 2rem;
      & > * {
        margin-bottom: 2rem;
      }
      &_buttons {
        display: flex;
        justify-content: space-around;
        margin-top: 4rem;
      }
    }
  }
}
