.about {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin-bottom: 15rem;

  &__education {
    display: grid;
    grid-template-rows: 20vh repeat(2, min-content);

    background-image: linear-gradient(
      63deg,
      rgba(242, 168, 168, 1) 2.9%,
      rgba(94, 46, 165, 1) 102.1%
    );

    color: #fff;
    font-size: 2rem;
  }
  &__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &-container {
      width: 30rem;
      margin: 2rem;
    }
    p {
      font-size: 2rem;
      margin: 1rem;
    }
    h1 {
      font-size: 4rem;
      font-family: "Squada One", cursive;
    }
  }

  &__right {
    position: relative;
    &-text {
      top: 13rem;
      width: 65rem;
      padding: 2rem;
      & > * {
        margin-bottom: 5rem;
      }
      h2 {
        font-size: 3rem;
        font-family: "Squada One", cursive;
        margin-bottom: 2rem;
      }
      p {
        font-size: 1.7rem;
      }
      ul {
        column-count: 2;
        list-style: none;
        margin-top: 2rem;
        font-size: 1.5rem;
        span {
          font-weight: bold;
        }
        li {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.education {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  height: 100%;
  width: 100%;

  h2 {
    font-size: 4rem;
    text-align: center;
    font-family: "Squada One", cursive;
    margin: 2rem 0 4rem 0;
  }
  &__times {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    &::before {
      content: "";
      position: absolute;
      width: 2px;
      height: 65%;
      background-color: #000;
      left: calc(50% - 1px);
    }
  }
  &__time {
    margin-bottom: 4rem;
    width: 100%;
    position: relative;
    &:nth-child(odd) {
      padding-right: calc(50% + 30px);
      text-align: right;
    }
    &:nth-child(even) {
      padding-left: calc(50% + 30px);
    }
    &-content {
      box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
      background: rgba(255, 255, 255, 0.1);
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(6rem);
      padding: 3rem;
      border-radius: 5px;
      h3 {
        font-family: "Squada One", cursive;
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
    &-dot {
      height: 16px;
      width: 16px;
      background-color: #2bd2ff;
      position: absolute;
      left: calc(50% - 8px);
      border-radius: 50%;
    }
    &-date {
      font-size: 1.8rem;
      margin-bottom: 1rem;
      font-weight: bold;
    }
  }
}
