.contact {
  display: grid;

  color: #ddd;
  background-image: radial-gradient(
      circle farthest-corner at -4% -12.9%,
      rgba(74, 98, 110, 0.4) 0.3%,
      rgba(30, 33, 48, 0.4) 90.2%
    ),
    url("../images/header/contact.jpeg");
  background-position: center;
  background-size: cover;
  z-index: -1;
  animation: rightIn 1s cubic-bezier(0.14, 0.32, 0.14, 1.39) forwards;
  &__title {
    margin-bottom: 15rem;
  }
  &__formBox {
    position: relative;
    z-index: 11;
    width: 70%;
    margin: 10rem auto;
    margin-bottom: 14rem;
    border-radius: 0.5rem;
    @include glassMorphism-without-width;

    transition: all 0.5s linear;
    &:hover {
      box-shadow: 0 0 0.5rem #3d84b8, 0 0 1.5rem #3d84b8, 0 0 3rem #3d84b8,
        0 0 6rem #3d84b8;
    }
    h1 {
      text-align: center;
      font-size: 4rem;
      font-family: "Abril Fatface", cursive;
      margin: 7rem;
    }
    form {
      width: 90%;
      margin: 2rem auto;
    }
    &-row {
      display: flex;
      flex-basis: 1;
    }
  }

  &__inputBox {
    height: 10rem;
    position: relative;
    input,
    textarea {
      display: block;
      width: 100%;
      border: none;
      background: rgba(255, 255, 255, 0.2);
      outline: none;
      border: 0.1rem solid rgba(255, 255, 255, 0.5);
      border-right-color: rgba(255, 255, 255, 0.2);
      border-bottom-color: rgba(255, 255, 255, 0.2);
      border-radius: 0.5rem;
      padding: 1rem 2rem;
      font-size: 1.7rem;
    }
    textarea {
      width: 98%;
      height: 10rem;
    }
    input:focus ~ label,
    textarea:focus ~ label {
      font-size: 1.5rem;
      top: -3.5rem;
      left: 0;
      color: #f05945;
    }
    input:valid ~ label,
    textarea:valid ~ label {
      color: #289672;
      font-size: 1.5rem;
      top: -3.5rem;
      left: 0;
    }
    label {
      letter-spacing: 0.1rem;
      position: absolute;
      font-size: 1.7rem;
      top: 1rem;
      transition: all 0.2s linear;
      z-index: -1;
      left: 2rem;
    }
    button {
      width: 98%;
      margin: 4rem 0;
      padding: 1rem;
      font-size: 1.7rem;
      border-radius: 0.5rem;
      font-family: "Abril Fatface", cursive;
      outline: none;
      color: #ddd;
      @include glassMorphism-without-width;
      transition: all 0.5s linear;
      &:hover {
        box-shadow: 0 0 0.5rem #3d84b8, 0 0 1.5rem #3d84b8, 0 0 3rem #3d84b8,
          0 0 6rem #3d84b8;
      }
    }

    &-w50 {
      margin-right: 2rem;
      width: 50%;
    }
    &-w100 {
      width: 100%;
    }
  }

  &_square-1 {
    top: 10rem;
    right: 20rem;

    width: 10rem;
    height: 10rem;
    width: 16rem;
    height: 16rem;
    background: #3d84b8;
    box-shadow: 0 0 0.5rem #3d84b8, 0 0 1.5rem #3d84b8, 0 0 3rem #3d84b8,
      0 0 6rem #3d84b8;
  }

  &_square-2 {
    top: 77rem;
    left: 15rem;
    width: 16rem;
    height: 16rem;

    background: #3d84b8;
    box-shadow: 0 0 0.5rem #3d84b8, 0 0 1.5rem #3d84b8, 0 0 3rem #3d84b8,
      0 0 60px #3d84b8;
  }
  &_square-3 {
    right: 18rem;
    top: 50rem;
    z-index: 111;
    width: 11rem;
    height: 11rem;

    background: #3d84b8;
    box-shadow: 0 0 0.5rem #3d84b8, 0 0 1.5rem #3d84b8, 0 0 3rem #3d84b8,
      0 0 60px #3d84b8;
  }
  &_square-4 {
    z-index: 111;
    top: 10rem;
    left: 20rem;
    background: #3d84b8;
    box-shadow: 0 0 0.5rem #3d84b8, 0 0 1.5rem #3d84b8, 0 0 3rem #3d84b8,
      0 0 6rem #3d84b8;
  }
}
