.header {
  animation: topIn 1s ease-in forwards;
  &__content {
    background-image: radial-gradient(
        circle farthest-corner at -4% -12.9%,
        rgba(74, 98, 110, 0.4) 0.3%,
        rgba(30, 33, 48, 0.4) 90.2%
      ),
      url("../images/header/main.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;

    -webkit-box-shadow: inset 0px 30px 50px 7px rgba(0, 0, 0, 0.59);
    box-shadow: inset 0px 30px 50px 7px rgba(0, 0, 0, 0.59);

    &-terminal {
      width: 80vw;
      position: absolute;
      padding-top: 22rem;
      padding-left: 50rem;
    }
  }
}
