.projects {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(28, 38, 47, 1) 0%,
    rgba(37, 47, 57, 1) 90%
  );
  height: 100%;
  padding-bottom: 15rem;
  display: grid;
  grid-template-rows: 15vh min-content;
  transition: all 1s linear;
  color: #fff;
  &__box {
    display: grid;
    grid-template-rows: 1vh 20vh minmax(120vh, min-content);
    transition: all 1s linear;
    &-title {
      text-align: center;
      font-size: 4rem;
      font-family: "Courier New", Courier, monospace;
    }
    &-filterButtons {
      width: 120rem;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    &-items {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, min-content);

      transition: all 1s linear;
    }
  }
  &__btn {
    color: #fff;
    padding: 1rem 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s linear;
    @include glassMorphism-without-width;
    box-shadow: 0 15px 15px rgba($color: #000000, $alpha: 0.5);

    &:active {
      margin-top: 0.2rem;
    }
  }
}

.swiper-container {
  width: 100% !important;
  padding-top: 50px;
  padding-bottom: 200px !important;
  margin: 0 !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 600px;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0006);
}
.swiper__image {
  width: 30rem;
  height: 40rem;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
