.skills {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  animation: rightIn 1s forwards linear;
  background-image: radial-gradient(
      circle farthest-corner at -4% -12.9%,
      rgba(74, 98, 110, 0.4) 0.3%,
      rgba(30, 33, 48, 0.4) 90.2%
    ),
    url("../images/header/skills3.jpeg");
  background-position: center;
  background-size: cover;
  height: 100%;
  &__content {
    height: 100%;
    display: grid;
    grid-template-columns: 65vw 30vw;
    padding-top: 15rem;
    @include respond(700px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__right {
    margin-right: 3rem;
    margin-top: 6rem;

    @include respond(700px) {
      margin-left: 10rem;
      margin-bottom: 10rem;
    }
  }

  &__skill {
    position: relative;
    @include glassMorphism-without-width;

    display: flex;
    position: relative;
    margin: 2rem 0;
    // margin-right: 8rem;
    padding: 2.4rem 1rem 1.8rem;
    border-radius: 0.8rem;
    cursor: pointer;

    &:nth-child(1) &-progress {
      background: linear-gradient(to right, #ff416c, #ff4b2b);
    }

    &:nth-child(2) &-progress {
      background-image: linear-gradient(
        111.8deg,
        rgb(6, 68, 98) 19.8%,
        rgba(0, 173, 239, 1) 92.1%
      );
    }
    &:nth-child(3) &-progress {
      background-image: linear-gradient(
        109.6deg,
        rgba(255, 194, 48, 1) 11.2%,
        rgba(255, 124, 0, 1) 100.2%
      );
    }
    &:nth-child(4) &-progress {
      background-image: radial-gradient(
        circle farthest-corner at 10% 20%,
        rgba(67, 144, 233, 1) 0%,
        rgba(78, 226, 198, 1) 90.1%
      );
    }
    &:nth-child(5) &-progress {
      background-image: radial-gradient(
        circle farthest-corner at 10% 20%,
        rgba(111, 111, 219, 1) 0%,
        rgba(182, 109, 246, 1) 72.4%
      );
    }
    &:nth-child(6) &-progress {
      background-image: linear-gradient(
        268deg,
        rgba(255, 105, 180, 1) 4.1%,
        rgba(255, 174, 215, 1) 74.3%
      );
    }
    &:nth-child(7) &-progress {
      background-color: #93329e;
    }
    &:nth-child(8) &-progress {
      background-image: linear-gradient(
        to right,
        rgb(182, 244, 146),
        rgb(51, 139, 147)
      );
    }
    &:nth-child(9) &-progress {
      background-image: linear-gradient(
        89.8deg,
        rgba(222, 74, 74, 1) 4.7%,
        rgba(30, 29, 29, 1) 120.3%
      );
    }
    &:nth-child(10) &-progress {
      background-image: linear-gradient(
        106.4deg,
        rgba(255, 104, 192, 1) 11.1%,
        rgba(104, 84, 249, 1) 81.3%
      );
    }
    &::before {
      content: "";
      height: 50%;
      width: 100%;
      position: absolute;
      background: rgba(225, 225, 225, 0.2);
      top: 0;
      left: 0;
    }
    &-name {
      position: relative;
      width: 11rem;
      text-align: right;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.4rem;
    }
    &-value {
      position: relative;
      width: 4rem;
      text-align: left;
      color: #fff;
      font-size: 1.4rem;
    }
    &-percent {
      position: relative;
      width: calc(100% - 15rem);
      height: 2rem;
      margin: 0 1rem;
      border-radius: 1rem;
      @include glassMorphism-without-width;
    }

    &-progress {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border-radius: 1rem;
      animation: barAnimate 4s ease-in-out forwards;
    }
  }

  &__skill {
    &__selectedSkill {
      margin-left: 2rem;
      margin-top: 8rem;
      width: 95%;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      color: #fff;
      position: relative;
      transition: all 1s;
      @include glassMorphism-without-width;
      &__img {
        top: -11rem;
        border-radius: 50%;
        width: 23rem;
        position: absolute;
        transition: all 1s linear;
        @include glassMorphism-without-width;
        padding: 2rem;
        backdrop-filter: blur(8rem);
        background-color: #ddd;
      }

      h1 {
        font-size: 4rem;
        font-weight: bold;
        font-family: $font-title;
        margin: 2rem;
        margin-top: 12rem;
      }
      ul {
        column-count: 2;
        list-style: outside;
        font-size: 2rem;
        width: 80%;
        margin: 1rem;
        margin-bottom: 4rem;

        li {
          color: #ddd;
          margin-bottom: 2rem;
        }
      }
      h2 {
        font-size: 5rem;
      }

      &-progressBar {
        width: 20rem;
      }
      &-button {
        display: flex;
        align-items: center;

        img {
          position: absolute;
          width: 10rem;
          height: 10rem;
          right: 2rem;
        }
      }
    }
  }
}
