@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes down {
  from {
    transform: translateY(-10rem);
  }
  to {
    transform: translateY(0rem);
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0) scale(1);
  }

  20% {
    transform: translateY(-2rem) scale(1.04);
  }

  50% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

@keyframes barAnimate {
  from {
    width: 0;
  }
}

@keyframes loadingAnimation1 {
  0% {
    transform: rotate3d(0, 1, 1, 0deg);
  }
  50% {
    transform: rotate3d(0, 1, 1, 180deg);
  }
  100% {
    transform: rotate3d(0, 0, 0, 360deg);
  }
}

@keyframes loadingAnimation2 {
  0% {
    transform: rotate3d(0, 1, 1, 0deg);
  }
  50% {
    transform: rotate3d(0, 1, 1, -180deg);
  }
  100% {
    transform: rotate3d(0, 0, 0, -360deg);
  }
}
