a {
  text-decoration: none;
}

.square {
  position: absolute;
  width: 10rem;
  height: 10rem;
  position: absolute;
  border-radius: 5px;
  @include glassMorphism-without-width;
}

img {
  width: 100%;
  height: 100%;
}
